.navbar {
  height: 70px;
  background: linear-gradient(90deg, #061a2f, #0a2a4a);
  display: flex;
  align-items: center;
  padding: 0 40px;
  color: white;
}

.nav-left {
  font-size: 20px;
  font-weight: 700;
}

.nav-center {
  display: flex;
  gap: 28px;
  margin-left: 60px;
  list-style: none;
}

.nav-center li {
  cursor: pointer;
  font-weight: 500;
}

.nav-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

/* running text */
.live-text {
  width: 260px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 13px;
}

.live-text::after {
  content: " ✨ New routes added • Fare alerts enabled • Travel smart ✨ ";
  animation: scroll 12s linear infinite;
}

@keyframes scroll {
  from { transform: translateX(100%); }
  to { transform: translateX(-100%); }
}

.profile {
  font-size: 20px;
  cursor: pointer;
}
